@media only screen and (max-width:740px) {
  .heading {
    display: none;
  }

  .threeHeads {
    padding: 0px 1rem;
  }

  .modelBox {
    width: 90%;
    margin: auto;
  }

  .model {
    margin: 0px 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .builder {
    display: none;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modelBtn {
    margin: 1rem;
  }

  .img {
    width: 300px;
  }

  .cardTitle,
  .signupText {
    text-align: center;
  }

  .cards {
    padding: 0px 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .email {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 1rem;
    padding-bottom: 4rem;
  }

  .footer1 {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}

@media only screen and (min-width: 746px) {
  .lastBTN {
    margin-top: 200px;
  }
}

@media only screen and (width < 430px) {
  .ad-dis {
    display: none;
  }
}